<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand text" href="#">Gerenciamento</a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link font-italic" href="@Url.Action("Index", "Categoria")">Categorias</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle font-italic" id="navbarDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Tabelas</a>
                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="@Url.Action("Index", "Categoria")">Categorias</a>
                    <a class="dropdown-item" href="@Url.Action("Index", "Cidade")">Cidades</a>
                    <a class="dropdown-item" href="@Url.Action("Index", "Cliente")">Clientes</a>
                    <a class="dropdown-item" href="@Url.Action("Index", "Estado")">Estados</a>
                    <a class="dropdown-item" href="@Url.Action("Index", "Projeto")">Projetos</a>
                    <a class="dropdown-item" href="@Url.Action("Index", "Tarefa")">Tarefas</a>
                    <a class="dropdown-item" href="@Url.Action("Index","Usuario")">Usuários</a>
                </div>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle font-italic" id="navbarDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Gerencimento de Usuários</a>
                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="@Url.Action("Index", "Usuario")">Usuários</a>
                    <a class="dropdown-item" href="@Url.Action("Index", "Tarefa")">Tarefas</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle font-italic" id="navbarDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Gerencimento de Clientes</a>
                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="@Url.Action("Index", "Cliente")">Clientes</a>
                    <a class="dropdown-item" href="@Url.Action("Index", "Cidade")">Cidades</a>
                    <a class="dropdown-item" href="@Url.Action("Index", "Estado")">Estados</a>
                    <a class="dropdown-item" href="@Url.Action("Index", "Projeto")">Projetos</a>
                </div>
            </li>

        </ul>
    </div>


</nav>
