@model Model.Cidade

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cidade</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Estado.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroHabitantes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroHabitantes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataCriacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataCriacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegistroAtivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegistroAtivo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
