
@{
    ViewBag.Title = "Editar";
}

<h2>Editar Tarefas</h2>

<form action="@Url.Action("Update")" method="post" id="needs-validation" novalidate>
    <input type="hidden" name="id" value="@ViewBag.Tarefa.Id"/>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="campo-usuario">Usuário</label>
                <select id="campo-usuario" name="idUsuario" class="form-control">
                    <option disabled="disabled" selected="selected">Selecione um Usuário</option>
                    @foreach (Model.Usuario usuario in ViewBag.Usuarios)
                    {
                        if (usuario.Id == ViewBag.Tarefa.IdUsuario)
                        {
                            <option value="@usuario.Id" selected="selected">@usuario.Nome</option>
                        }
                        else
                        {
                            <option value="@usuario.Id">@usuario.Nome</option>
                        }
                    }
                </select>

                <label for="campo-projeto">Projeto</label>
                <select id="campo-projeto" name="idProjeto" class="form-control">
                    <option disabled="disabled" selected="selected">Selecione um Projeto</option>
                    @foreach (Model.Projeto projeto in ViewBag.Projetos)
                    {
                        if (projeto.Id == ViewBag.Tarefa.IdProjeto)
                        {
                            <option value="@projeto.Id" selected="selected">@projeto.Nome</option>
                        }
                        else
                        {
                            <option value="@projeto.Id">@projeto.Nome</option>
                        }
                    }
                </select>

                <label for="campo-categoria">Categoria</label>
                <select id="campo-categoria" name="idCategoria" class="form-control">
                    <option disabled="disabled" selected="selected">Selecione uma Categoria</option>
                    @foreach (Model.Categoria categoria in ViewBag.Categorias)
                    {
                        if (categoria.Id == ViewBag.Tarefa.IdCategoria)
                        {
                            <option value="@categoria.Id" selected="selected">@categoria.Nome</option>
                        }
                        else
                        {
                            <option value="@categoria.Id">@categoria.Nome</option>
                        }
                    }
                </select>

                <label for="campo-titulo">Título</label>
                <input type="text" id="campo-titulo" name="titulo" class="form-control" value="@ViewBag.Tarefa.Titulo" required />
                <div class="invalid-feedback">Digite um Titulo Válido</div>

                <label for="campo-descricao">Descrição</label>
                <textarea id="campo-descricao" name="descricao" class="form-control" required">@ViewBag.Tarefa.Descricao</textarea>
                <div class="invalid-feedback">Digite uma Descrição Válida</div>

                <label for="campo-duracao">Duração</label>
                <input type="datetime" id="campo-duracao" class="tempo form-control" name="duracao" value="@ViewBag.Tarefa.Duracao.ToString("HH:mm:ss")" required/>
                <div class="invalid-feedback">Digite uma Duração Válida</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <button class="btn btn-success float-right mt-3" type="submit"><i class="fas fa-save"></i> Salvar</button>
        </div>
    </div>
</form>

